.box {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: auto;
    list-style-type: none;
    margin: .5rem;

    li {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}